@import url('<link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">');
html {
    background-color: #FFEFE2;
}
.navbar {
    background-color: #FFEFE2;
}
.main-content{
    background-color: #FFEFE2;
}

.search-container{
    display: block;
}
.search-button{
    margin-left: 5px;
}
.search-icon {
    height: 20px;
    opacity: .5;
}

.brand-name{
    margin-right: 340px;
}

.logo-img{
    height: 50px;
    margin-right: 10px;
}
.search-menu{
    margin-left: 345px;
}

.text-1 {
    margin-top: 30px;
    font-size: 96px;
    font-family: 'Inria Serif';
}

.text-2 {
    margin-top: 10px;
    font-family: sans-serif;
}

.list-gambar{
    margin-top: 30px;
}
.col-gambar{
    height: 310px;
    width: 220px;
    background-color: blue;
    border-radius: 100px 0px 100px 0px;
}