.frame-1 .intersect {
  width: 73px;
  height: 73px;
}
.frame-1 .group-1 {
  display: flex;
  width: 73px;
  height: 73px;
  box-sizing: border-box;
}
.frame-1 .home {
  box-shadow: 0px 0px 4.7px 0px rgba(255, 255, 255, 0.25);
  margin-right: 19.5px;
  width: 133.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #232443;
}
.frame-1 .menu {
  box-shadow: 0px 0px 4.7px 0px rgba(255, 255, 255, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #232443;
}
.frame-1 .rating {
  box-shadow: 0px 0px 4.7px 0px rgba(255, 255, 255, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #232443;
}
.frame-1 .about {
  box-shadow: 0px 0px 4.7px 0px rgba(255, 255, 255, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #232443;
}
.frame-1 .group-8 {
  margin: 14px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 558.4px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1 .search-1 {
  opacity: 0.3;
  background: url('../assets/images/search_1.png') 50% / cover no-repeat;
  margin-right: 10px;
  width: 35px;
  height: 34px;
}
.frame-1 .search {
  margin: 4px 0 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.57);
}
.frame-1 .container-10 {
  box-shadow: 0px 0px 15.4px -6px #000000;
  border-radius: 55px;
  background: #FFFFFF;
  position: relative;
  margin: 0 41px 1px 0;
  display: flex;
  flex-direction: row;
  padding: 10px 0 11px 17px;
  width: 253px;
  box-sizing: border-box;
}
.frame-1 .male-telemarketer-1 {
  background: url('../assets/images/male_telemarketer_1.png') 50% / cover no-repeat;
  width: 36px;
  height: 36px;
}
.frame-1 .container-23 {
  box-shadow: 0px 0px 15.4px -6px #000000;
  border-radius: 55px;
  background: #FFFFFF;
  position: relative;
  margin-top: 1px;
  display: flex;
  padding: 9px 9px 10px 10px;
  width: 55px;
  height: 55px;
  box-sizing: border-box;
}
.frame-1 .container-9 {
  margin: 9px 0 8px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-1 .container-3 {
  margin-bottom: 81px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1615px;
  box-sizing: border-box;
}
.frame-1 .lorem-ipsum-dolor-sit {
  margin: 0 0 43px 2px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 700;
  font-size: 96px;
  text-transform: uppercase;
  color: #232443;
}
.frame-1 .lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet {
  margin: 0 0 88px 2px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  text-transform: capitalize;
  color: #232443;
}
.frame-1 .n-4 {
  background: url('../assets/images/n.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -116px;
  top: -1px;
  width: 379px;
  height: 379px;
}
.frame-1 .container-17 {
  border-radius: 140.5px 0 140.5px 0;
  position: relative;
  width: 263.3px;
  box-sizing: border-box;
}
.frame-1 .n-11 {
  background: url('../assets/images/n_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -124.4px;
  top: -34px;
  width: 423px;
  height: 427px;
}
.frame-1 .container-30 {
  border-radius: 140.5px 0 140.5px 0;
  position: relative;
  width: 263.3px;
  box-sizing: border-box;
}
.frame-1 .n-5 {
  background: url('../assets/images/n_3.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -39.8px;
  top: -1px;
  width: 303px;
  height: 379px;
}
.frame-1 .container-35 {
  border-radius: 140.5px 0 140.5px 0;
  position: relative;
  width: 263.3px;
  box-sizing: border-box;
}
.frame-1 .n-6 {
  background: url('../assets/images/n_2.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -77.3px;
  bottom: -0.4px;
  width: 379px;
  height: 379px;
}
.frame-1 .container-29 {
  border-radius: 140.5px 0 140.5px 0;
  position: relative;
  width: 263.3px;
  box-sizing: border-box;
}
.frame-1 .n-7 {
  background: url('../assets/images/n_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -120.7px;
  top: -21px;
  width: 384px;
  height: 400px;
}
.frame-1 .container-40 {
  border-radius: 140.5px 0 140.5px 0;
  position: relative;
  width: 263.3px;
  box-sizing: border-box;
}
.frame-1 .container-6 {
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  column-gap: 28.1px;
  width: 1429px;
  box-sizing: border-box;
}
.frame-1 .slide-1691 {
  background: #FFEFE2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 153px 65.4px 152px;
  width: 1920px;
  box-sizing: border-box;
}
.frame-1 .rectangle-20 {
  box-shadow: -1px 4px 16.1px 1px rgba(0, 0, 0, 0.25);
  background: #FCFCFC;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 1563px;
  height: 1015px;
}
.frame-1 .n-12 {
  background: url('../assets/images/n_11.jpeg') 50% / cover no-repeat;
  margin-right: 48.4px;
  width: 782px;
  height: 806px;
}
.frame-1 .lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor {
  margin-bottom: 64px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 700;
  font-size: 64px;
  text-transform: capitalize;
  color: #232443;
}
.frame-1 .open-menu {
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .group-3 {
  border-radius: 46px 0 46px 0;
  background: #232443;
  position: relative;
  margin-left: 2px;
  display: flex;
  padding: 14px 1px 23px 0;
  width: 399px;
  box-sizing: border-box;
}
.frame-1 .container-7 {
  margin: 208px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.frame-1 .container-37 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .line-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #1C1E35;
  margin: 0 8.6px 19px 74px;
  width: 1416px;
  height: 1px;
}
.frame-1 .container-1 {
  margin-right: 91.1px;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 400;
  font-size: 96px;
  text-transform: capitalize;
  color: #000000;
}
.frame-1 .line-2 {
  background: #000000;
  transform: rotate(90.567deg);
  margin: 29px 0 85px 0;
  width: 1px;
  height: 1px;
}
.frame-1 .container-39 {
  margin-bottom: 17px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-1 .container-2 {
  margin: 0 91.1px 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 400;
  font-size: 96px;
  text-transform: capitalize;
  color: #000000;
}
.frame-1 .line-3 {
  background: #000000;
  transform: rotate(90.567deg);
  margin: 29px 109.2px 102px 0;
  width: 1px;
  height: 1px;
}
.frame-1 .total-achivement {
  margin: 108px 112.2px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color: #000000;
}
.frame-1 .line-4 {
  background: #000000;
  transform: rotate(90.567deg);
  margin: 29px 107.1px 102px 0;
  width: 1px;
  height: 1px;
}
.frame-1 .total-work-space {
  margin-top: 108px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color: #000000;
}
.frame-1 .container-27 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-1 .container-21 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1302.9px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1 .total-menu {
  position: absolute;
  left: 10.2px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color: #000000;
}
.frame-1 .total-room {
  position: absolute;
  left: 402.1px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color: #000000;
}
.frame-1 .container-3 {
  position: absolute;
  top: 0px;
  right: 356px;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 400;
  font-size: 96px;
  text-transform: capitalize;
  color: #000000;
}
.frame-1 .container-18 {
  position: relative;
  margin: 0 63.6px 0 132.1px;
  display: flex;
  width: 1302.9px;
  box-sizing: border-box;
}
.frame-1 .container-24 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.frame-1 .container-4 {
  position: absolute;
  right: 280.1px;
  bottom: 138px;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 400;
  font-size: 96px;
  text-transform: capitalize;
  color: #000000;
}
.frame-1 .slide-1692 {
  background: #FFEFE2;
  position: relative;
  margin-right: 3px;
  padding: 0 178px;
  width: 1920px;
  height: 1080px;
  box-sizing: border-box;
}
.frame-1 .rectangle-232 {
  border-radius: 11px;
  background: #FFFFFF;
  position: absolute;
  right: 38px;
  bottom: 34px;
  width: 65px;
  height: 34px;
}
.frame-1 .lorem-ipsum-1 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .star-11 {
  background: url('../assets/images/star_1.png') 50% / cover no-repeat;
  margin-right: 4.2px;
  width: 20px;
  height: 20px;
}
.frame-1 .container-7 {
  margin: 2px 11.2px 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .reviews-1 {
  margin: 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-size: 10px;
  text-transform: lowercase;
  color: #FFFFFF;
}
.frame-1 .container-1 {
  margin: 0 12.9px 14px 12.9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-1 {
  margin: 0 12.9px 23px 12.9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .rp-99999002 {
  margin: 22px 7.5px 11px 0;
  display: inline-block;
  width: 253.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .container-8 {
  position: relative;
  margin-right: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 40px;
  text-transform: capitalize;
  color: #232443;
}
.frame-1 .container-22 {
  margin-left: 16.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 286.8px;
  box-sizing: border-box;
}
.frame-1 .container-15 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .group-4 {
  border-radius: 40px;
  background: #232443;
  position: relative;
  margin: 0 25px 1px 0;
  padding: 279px 18.1px 31px 18.1px;
  width: 379px;
  box-sizing: border-box;
}
.frame-1 .rectangle-231 {
  border-radius: 11px;
  background: #FFFFFF;
  position: absolute;
  right: 38px;
  bottom: 34px;
  width: 65px;
  height: 34px;
}
.frame-1 .lorem-ipsum {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .star-1 {
  background: url('../assets/images/star_1.png') 50% / cover no-repeat;
  margin-right: 4.2px;
  width: 20px;
  height: 20px;
}
.frame-1 .container-5 {
  margin: 2px 11.2px 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .reviews {
  margin: 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-size: 10px;
  text-transform: lowercase;
  color: #FFFFFF;
}
.frame-1 .container-19 {
  margin: 0 12.9px 14px 12.9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet {
  margin: 0 12.9px 23px 12.9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .rp-99999001 {
  margin: 22px 7.5px 11px 0;
  display: inline-block;
  width: 253.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .container-6 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 40px;
  text-transform: capitalize;
  color: #232443;
}
.frame-1 .container-38 {
  margin: 0 0px 0 16.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 286.8px;
  box-sizing: border-box;
}
.frame-1 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .group-7 {
  border-radius: 40px;
  background: #232443;
  position: relative;
  margin: 0 25px 1px 0;
  padding: 279px 18.1px 31px 18.1px;
  width: 379px;
  box-sizing: border-box;
}
.frame-1 .rectangle-233 {
  border-radius: 11px;
  background: #FFFFFF;
  position: absolute;
  right: 38px;
  bottom: 34px;
  width: 65px;
  height: 34px;
}
.frame-1 .lorem-ipsum-2 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .star-12 {
  background: url('../assets/images/star_1.png') 50% / cover no-repeat;
  margin-right: 4.2px;
  width: 20px;
  height: 20px;
}
.frame-1 .container-9 {
  margin: 2px 11.2px 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .reviews-2 {
  margin: 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-size: 10px;
  text-transform: lowercase;
  color: #FFFFFF;
}
.frame-1 .container-26 {
  margin: 0 12.9px 14px 12.9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-2 {
  margin: 0 12.9px 23px 12.9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .rp-99999003 {
  margin: 22px 7.5px 11px 0;
  display: inline-block;
  width: 253.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .container-10 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 40px;
  text-transform: capitalize;
  color: #232443;
}
.frame-1 .container-2 {
  margin-left: 16.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 286.8px;
  box-sizing: border-box;
}
.frame-1 .container-8 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .group-41 {
  border-radius: 40px;
  background: #232443;
  position: relative;
  margin: 1px 27px 0 0;
  padding: 279px 18.1px 31px 18.1px;
  width: 379px;
  box-sizing: border-box;
}
.frame-1 .rectangle-234 {
  border-radius: 11px;
  background: #FFFFFF;
  position: absolute;
  right: 38px;
  bottom: 34px;
  width: 65px;
  height: 34px;
}
.frame-1 .lorem-ipsum-3 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .star-13 {
  background: url('../assets/images/star_1.png') 50% / cover no-repeat;
  margin-right: 4.2px;
  width: 20px;
  height: 20px;
}
.frame-1 .container-11 {
  margin: 2px 11.2px 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .reviews-3 {
  margin: 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-size: 10px;
  text-transform: lowercase;
  color: #FFFFFF;
}
.frame-1 .container-33 {
  margin: 0 12.9px 14px 12.9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-3 {
  margin: 0 12.9px 23px 12.9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .rp-99999004 {
  margin: 22px 7.5px 11px 0;
  display: inline-block;
  width: 253.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .container-12 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 40px;
  text-transform: capitalize;
  color: #232443;
}
.frame-1 .container-16 {
  margin-left: 16.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 286.8px;
  box-sizing: border-box;
}
.frame-1 .container-14 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .group-51 {
  border-radius: 40px;
  background: #232443;
  position: relative;
  margin: 1px 27px 0 0;
  padding: 279px 18.1px 31px 18.1px;
  width: 379px;
  box-sizing: border-box;
}
.frame-1 .rectangle-23 {
  border-radius: 11px;
  background: #FFFFFF;
  position: absolute;
  right: 38px;
  bottom: 34px;
  width: 65px;
  height: 34px;
}
.frame-1 .lorem-ipsum-4 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .star-14 {
  background: url('../assets/images/star_1.png') 50% / cover no-repeat;
  margin-right: 4.2px;
  width: 20px;
  height: 20px;
}
.frame-1 .container-13 {
  margin: 2px 11.2px 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .reviews-4 {
  margin: 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-size: 10px;
  text-transform: lowercase;
  color: #FFFFFF;
}
.frame-1 .container {
  margin: 0 12.9px 14px 12.9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-lorem-ipsum-dolor-sit-amet-4 {
  margin: 0 12.9px 23px 12.9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .rp-9999900 {
  margin: 22px 7.5px 11px 0;
  display: inline-block;
  width: 253.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.frame-1 .container {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 40px;
  text-transform: capitalize;
  color: #232443;
}
.frame-1 .container-31 {
  margin-left: 16.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 286.8px;
  box-sizing: border-box;
}
.frame-1 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .group-6 {
  border-radius: 40px;
  background: #232443;
  position: relative;
  margin-top: 1px;
  padding: 279px 18.1px 31px 18.1px;
  width: 379px;
  box-sizing: border-box;
}
.frame-1 .group-5 {
  position: absolute;
  left: -40px;
  bottom: 219px;
  display: flex;
  flex-direction: row;
  width: 1999px;
  height: 513px;
  box-sizing: border-box;
}
.frame-1 .menus-rating {
  margin: 0 0 75px 2.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 700;
  font-size: 64px;
  text-transform: capitalize;
  color: #000000;
}
.frame-1 .n-1 {
  background: url('../assets/images/n_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -44.4px;
  top: -25px;
  width: 423px;
  height: 427px;
}
.frame-1 .container-36 {
  border-radius: 40px 40px 0 0;
  position: relative;
  margin: 0 26px 1px 0;
  width: 378.6px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1 .n-1 {
  background: url('../assets/images/n_3.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0.2px;
  top: -96px;
  width: 378px;
  height: 475px;
}
.frame-1 .container-13 {
  border-radius: 40px 40px 0 0;
  position: relative;
  margin: 0 26.7px 1px 0;
  width: 378.6px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1 .n-2 {
  background: url('../assets/images/n_2.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -0.3px;
  top: -1px;
  width: 379px;
  height: 379px;
}
.frame-1 .container-28 {
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: 1px;
  width: 378.6px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1 .container-11 {
  display: flex;
  flex-direction: row;
  width: 1188.4px;
  box-sizing: border-box;
}
.frame-1 .container-12 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1188.4px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1 .n {
  background: url('../assets/images/n.jpeg') 50% / cover no-repeat;
  width: 379px;
  height: 379px;
}
.frame-1 .container-32 {
  border-radius: 40px 40px 0 0;
  position: absolute;
  left: -40px;
  top: 225px;
  display: flex;
  width: 379px;
  height: 379px;
  box-sizing: border-box;
}
.frame-1 .n-3 {
  background: url('../assets/images/n_1.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0.3px;
  top: -21px;
  right: 0.3px;
  height: 394px;
}
.frame-1 .container-25 {
  border-radius: 40px 40px 0 0;
  position: absolute;
  top: 225px;
  right: -38.6px;
  width: 378.6px;
  height: 378.6px;
}
.frame-1 .slide-1693 {
  background: #FFEFE2;
  position: relative;
  margin-right: 3px;
  display: flex;
  padding: 73px 2.7px 0 0;
  width: 1920px;
  height: 1080px;
  box-sizing: border-box;
}
.frame-1 .screenshot-202405291711291 {
  background: url('../assets/images/screenshot_202405291711291.png') 50% / cover no-repeat;
  position: absolute;
  left: -14px;
  bottom: -138px;
  width: 649px;
  height: 726px;
}
.frame-1 .container-20 {
  border-radius: 38px;
  position: relative;
  margin-right: 58.6px;
  width: 635px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1 .about-us {
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 700;
  font-size: 64px;
  text-transform: capitalize;
  color: #1C1E35;
}
.frame-1 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-non-risus-suspendisse-lectus-tortor-dignissim-sit-amet-adipiscing-nec-ultricies-sed-dolor-cras-elementum-ultrices-diam-maecenas-ligula-massa-varius-asemper-congue-euismod-non-mi-proin-porttitor-orci-nec-nonummy-molestie-enim-est-eleifend-mi-non-fermentum-diam-nisl-sit-amet-erat-duis-semper {
  margin-left: 0.4px;
  overflow-wrap: break-word;
  font-family: 'Inria Sans';
  font-weight: 400;
  font-size: 24px;
  text-transform: lowercase;
  color: #1C1E35;
}
.frame-1 .container-34 {
  margin: 38px 0 141px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .slide-1694 {
  background: #FFEFE2;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  padding: 61px 0 0 110px;
  width: 1920px;
  height: 1080px;
  box-sizing: border-box;
}
.frame-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  box-sizing: border-box;
}
